################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solution
/.vs
/out/build/x64-Debug
